/* To ładuje całego Tailwinda v4 */
@import "tailwindcss";

/* To ładuje plugin do animacji (jeśli go używamy) */
@plugin "tailwindcss-animate";

/* Nasze globalne style */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}